*{
  margin: 0;
  padding: 0;
}
.btnSizes {
  border-radius: 100%;
  border: none;
  margin: 10px 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.btnSizes:hover {
  background-color: grey;
}
.shopping-cart-page {
  margin: 20px 200px;
  display: flex;
}

.sizes-sidebar{
  width: 200px;
}
.products-list{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;  
  width: 550px;
}
.product {
  width: 120px;
  display: grid;
  align-content: space-between;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 12px;
}
.add-to-cartBtn{
  border: none;
  background-color: black;
  color: white;
  padding: 8px 30px;
  margin-top: 10px;
  font-size: 10px;
  cursor: pointer;
  width: 100%;
}
.add-to-cartBtn:hover{
  background-color: rgb(93, 93, 93);
}
img {
  padding-left: 10px;
  width: 100px;
  height: 120px;
}
.title-horizontal-line{
  justify-self: center;
  width: 12px;
  height: 1.5px;
  background-color: orange;
  border: none;
  margin-bottom: 10px;
  margin-top: 5px;
}
.btnCart {
  position: fixed; top: 0px; right: 0px;
  width: 50px;
  height: 30px;
  cursor: pointer;
  background-color: black;
}
.cart-circle-length{
  position: absolute; top: 16px; left: 25px;
  background-color: orange;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  font-size: 9px;
}
.btnCart::after{
  content: '\f07a';
  font: var(--fa-font-solid);
  color: white;
}
.btnCart:hover{
  background-color: grey;
  border: 1px solid black;
}
.modal {
  display: grid;
  align-content: space-between;
  width: 350px;
  height: 100%;
  background-color: rgb(29, 28, 28);
  position: fixed; top: 0px; right: 0px;
  color: white;
 }
.hideModal {
 cursor: pointer;
 position: absolute; right: 350px; top: 0px;
 width: 50px;
 height: 30px;
 background-color: rgb(29, 28, 28);
 color: white;
 border: none;
}
.hideModal:hover{
  background-color: grey;
  border: 1px solid black;
}
.show-all-btn{
  position: absolute; top: 220px; left: 205px;
  padding: 5px 20px;
  cursor:pointer;
}
.show-all-btn:hover{
  background-color: grey;
  border: 1px solid black;
}
.cart-header{
  text-align: center;
  height: 10%;
  padding-top: 50px;
  margin-bottom: 50px;
}
.cart-header > p {
padding-right: 20px;
}
.cart-header p::before{
  content: '\f07a';
  font: var(--fa-font-solid);
  font-size: 13px;
  margin-right: 13px;
}
.header-horizontal{
  margin: 0px 20px;
  height: 1px;
  border: none;
  background-color: black;
}
.checkoutBtn {
  background-color: black;
  color: white;
  padding: 8px 0px;
  margin: 10px 2px;
}
.cart-footer{
  display:grid;
  padding: 15px;
  min-height: 100px;
  box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.73);
  align-content: space-between
}
.quantityBtn{
  height: 15px;
  width: 15px;
  font-size: 10px;
  border: none;
  background-color: black;
  margin-right: 2px;
  color: white;
}
.cart-product {
  align-items: center;
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;

  }
.options > p {
  padding: 5px 0px;
  font-size: 15px;
}
.options {
  text-align: end;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: rgb(255, 204, 108);
}
.cart-product-optionBtn{
  text-align: end;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  font-size: 12px;
  cursor: pointer;
}
.subtotal{
  display: flex;
  justify-content: space-between;
  color: grey;
  font-weight: normal;
  padding-bottom: 10px;
}
.subtotal > p {
  display:flex;
  font-size: 12px;
  align-items: center;
}
.footer-totalPrice{
  text-align: end;
  color: rgb(255, 204, 108);
}
.footer-installments{
  color: grey;
  font-size: 12px;
}
.firstDigits{
  font-weight: bold;
  font-size: 15px;
}
.currencySymbol{
  font-size: 8px;
}
.cart-length-circle {
  position: absolute; top: 65px; left: 147px;
  background-color: orange;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  font-size: 9px;
}
.product-title{
  font-size: 12px;
}
.product-size-style{
  color: grey;
  font-size: 10px;
}
.product-count{
  color: grey;
  font-size: 10px;
}
.cart-product-item{
  display: flex;
  align-items: center;
  flex-basis: 80%;
}
.cart-product-item > img {
  width: 50px;
  height: 70px;
  float: left;
}
.product-details{
  padding-left: 10px;
}
.cart-item-wrapper{
  overflow: hidden;
  overflow-y: scroll;
}





